/*.clearfix:before {
	content: "";
	display: block;
	clear: both;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}*/

.bold {
	font-weight: bold;
}

.tcmc-box {
	position: relative;
	padding: 10px 20px;
    border: 1px solid #F0F0F0;
    background: #FCFCFC;
    border-radius: 5px;
    margin-bottom: 20px;
}
.tcmc-box p {
	margin-bottom: 0;
}

.tcmc-percent {
	width: 20%;
}

.tcmc-percent, .tcmc-detail{
	float: left;
	
}

p.tcmc-percent-value {
	width: 100%;
	height: 90px;
	text-align: center;
	background: #f0f0f0;
	padding: 10px;
	text-transform: uppercase;
	line-height: 35px;
	color: green;
	font-size: 22px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
}

.tcmc-percent-value span {
	font-weight: bold;
}

.tcmc-meta {
	font-size: 12px;
}

.tcmc-detail {
	width: 58%;
	padding: 0 20px;
}

.tcmc-detail .tcmc-title {
	font-size: 11px;
	color: #BEBEBE;
}

.tcmc-detail ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tcmc-detail ul li {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.tcmc-title i.fa-check-circle {
	color: green;
	margin: 0 10px 0 0;
}

.tcmc-click {
	float: right;
	width: 22%;
	margin-top: 20px;
}

.tcmc-click a {
	display: block;
    height: 34px;
    background: #fe6c61;
    text-align: right;
    position: relative;
    border: 2px solid #fe6c61;
}

.tcmc-click a span.tcmc-copy {
	line-height: 32px;
    float: left;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 2;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
}

.tcmc-click a span.tcmc-coupon-code {
	color: #000;
    font-weight: bold;
    background: #fff;
    line-height: 30px;
    display: block;
    height: 30px;
    width: 100px;
    float: right;
    padding-right: 5px;
    z-index: 1;
}

.tcmc-click a span.tcmc-coupon-code:after {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 6px;
	position: absolute;
	right: 6px;
	top: 8px;
	z-index: 3;
	background: -webkit-linear-gradient(52deg,#e14e42 0,#e14e42 49%,rgba(0,122,198,0) 50%,rgba(255,255,255,0) 100%) 0 6px no-repeat;
	background: linear-gradient(38deg,#e14e42 0,#e14e42 49%,rgba(0,122,198,0) 50%,rgba(255,255,255,0) 100%) 0 6px no-repeat;
	-webkit-transform: rotateZ(29deg) translate(0,-15px) scaleX(0.9);
	transform: rotateZ(30deg) translate(0,-14px) scaleX(0.9);
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.tcmc-click a:hover span.tcmc-coupon-code:after {
	/*right: 16px;*/
	background-position: 0;
	-webkit-transform: rotateZ(19deg) translate(-9px,-5px) scaleX(1);
	        transform: rotateZ(19deg) translate(-9px,-5px) scaleX(1);
}

.tcmc-click a span.tcmc-coupon-code:before {
	z-index: 2;
	content: "";
	display: block;
	width: 90px;
	height: 30px;
	background: #fe6c61;
	position: absolute;
	top: 0;
	right: 20px;
	transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	-webkit-transition: right 0.5s;
	-webkit-transition: right 250ms;
	transition: right 250ms;
}

.tcmc-click a:hover span:before {
	right: 34px;
}



p.tcmc-coupon-title {
	font-size: 12px;
}

.tcmc-coupon-note {
	font-size: 11px !important;
	font-style: italic;
	line-height: 20px !important;
}

.modal {
	position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
	position: relative;
	margin: 100px auto;
    background: #fefefe;
    max-width: 850px;
    padding: 20px 0;
    border-radius: 5px;
}

.modal-content .coupon-item-content {
	    text-align: center;
}

.modal-content .close {
	position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.modal-content .coupon-details {
	    background: #f1f1f1;
    padding: 40px;
}

.modal-content .code-copy {
	    text-align: center;
}

.modal-content .button-code {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    height: 50px;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;

}

.button {
    padding: 0 10px;
    display: inline-block;

    border: 1px solid #4db2ec;
    border-radius: 3px;
    background: #4db2ec;
    color: #fff;
    font-size: 12px;
}

.modal-content .button-copy {
    width: auto;
    height: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: middle;
    font-weight: bold;
    line-height: 50px;
}

.modal-content .button-copy.copied {
	background: #10b48a;
	border: 1px solid #0e9d78;
}

.modal-content .coupon-share {
	text-align: center;
}

.coupon-percent-wrap, .coupon-type, .coupon-exp {
	display: inline-block;
	vertical-align: top;
}

.coupon-form {
	border: 1px solid #f1f1f1;
    text-align: center;
    border-left: none;
    padding: 20px;
    border-right: none;
    background-color: #F4F4F4;
}

.coupon-form input {
	width: 150px;
}

.coupon-form input:focus {
	border-color: #fff;
}

.coupon-form button:disabled
.coupon-form input:disabled {
	background-color: #f1f1f1;
}

.coupon-form .email-mc-subscriber {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	height: 34px;
    line-height: 34px;
    border: none;
	text-align: left;
}

.coupon-form.send button.email-mc-subscriber {
	width: 100px;

}
.coupon-form.send button.email-mc-subscriber:before {
	position: absolute;
	right: 10px;
	content: '';
	display: inline-block;
	margin: 4px;
	width: 26px;
	height: 26px;
	background-image: url('../images/flickr.svg');
}


.coupon-type, .coupon-exp {
	width: 130px;
	padding: 20px 0 0 0;
	color: #949494;
}

.coupon-type p, .coupon-exp p {
	font-size: 13px !important; 
	line-height: 20px;
}

.coupon-type i, .coupon-exp i {
	font-size: 25px;
}

.modal-content .coupon-percent {
    margin-top: -30px;
}

.modal-content .percent {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    padding: 10px;
}

.coupon-share .coupon-percent-value {
	width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    font-size: 27px;
    line-height: 90px;
    font-weight: bold;
}

.coupon-content {
	padding: 20px 20px 0;
    margin-bottom: 0;
}